unpackaged/main/default/flows/Closed_Won_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Handover to CS</description>
        <name>CSM_handover</name>
        <label>CSM handover</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Onboarding_brief</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Handover</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoice_issued</name>
        <label>Invoice issued</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Notify_AM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Your account have expanded to new products, reach out to check they have everything they need</description>
        <name>New_products_bought</name>
        <label>New products bought</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Account.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Handover</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Handover</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_AM</name>
        <label>Notify AM</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Account.Owner.AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Onboarding_brief</name>
        <label>Onboarding brief</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Owner.Username</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>SMB handover email</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Emailsubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Welcome_email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Spicy_meatball</name>
        <label>Spicy meatball</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Opp_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Meatballwon</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.IsWon</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Over 100k value</description>
        <name>Enterprise_value</name>
        <label>Enterprise value</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CSM_handover</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>High value</defaultConnectorLabel>
        <rules>
            <name>Low_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_1</targetReference>
            </connector>
            <label>Low value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_type</name>
        <label>Opp type</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>New_products_bought</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expansion</defaultConnectorLabel>
        <rules>
            <name>New_business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enterprise_value</targetReference>
            </connector>
            <label>New business</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_issued</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <description>If a high-value opportunity is closed and won, create a draft contract.</description>
    <environments>Default</environments>
    <interviewLabel>Closed Won Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Won Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a draft contract when an opportunity is won and is over 25,000</description>
        <name>Create_Draft_Contract</name>
        <label>Create Draft Contract</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Spicy_meatball</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Draft_Contract</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>250000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>Emailsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Welcome to Gearset&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Handover</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Brief the appropriate CSM about their new account and identify COM&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Meatballwon</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new spicy meatball has been won&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Welcome_email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Welcome to Gearset! &lt;/p&gt;</text>
    </textTemplates>
</Flow>
